.input{
    display: block;
    margin-left: 2rem;
}

#inputmessage{
    display: block;
    margin-left: 2rem;
    width: 30rem;
}

label{
    margin-left: 2rem;
}

.btn{
    border:3px solid black;
    background-color: blue;
    margin-top: 1.5rem;
    margin-left: 30rem;
}